.footer__container {
  //alignment
  // position: absolute;
  bottom: 0;

  padding: 10px 0;
  margin: 0;
  width: 100vw;
  color: #9BA6BF;
}

.footer__social {
  margin-bottom: 20px;
}

.footer__social-icon {
  margin: 0 15px;
}

.footer__social-icon svg:hover {
  fill: white !important;
}
