.blogitem__container {
  min-height: em(250);
}
.blogitem__hero {}
.blogitem__image {
  object-fit: cover;
  @include for-tablet-portrait-down { width: 100%; height: 100%}
}
.blogitem__content {}
.blogitem__title {}
.blogitem__text {}
