.background {
  height: 100vh;
  background-color: $color-primary;
}
.home__container {
  padding-top: 10vw;
}
.home__photo {
  display: block;
  text-align: center;
  min-height: 180px;
}
.home__greetings {
  width: 80%;
}

.home__greetings,
.home__content {
  margin-top: em(50)
}
.home__choice {
  margin: 0 50px 50px 50px;
}
