.block-centered {
  margin-left: auto;
  margin-right: auto;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.absolute-mobile {
  @include breakpoint(mobile) { position: absolute; }
}

.absolute-tablet {
  @include breakpoint(tablet) { position: absolute; }
}

.horizontal-centered {
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}

.right { right: 0 }
.left { left: 0 }
.top { top: 0 }
.bottom { bottom: 0 }

.float-right { float: right }
.float-left { float: left }

.z-index--1 { z-index: -1 }
.z-index-1 {z-index: 1}
.z-index-2 {z-index: 2}
.z-index-3 {z-index: 3}
.z-index-4 {z-index: 4}
.z-index-5 {z-index: 5}
