body {
  width: 100%;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

p::selection {
  background-color: $color-theme;
  color: white;
}

p::-moz-selection {
  background-color: $color-theme;
  color: white;
}

p::-webkit-selection {
  background-color: $color-theme;
  color: white;
}

h1{
  font-family: 'RobotoCondensed-Regular';
  font-size: em(24)
}

h2 {
  font-family: 'Roboto-Regular';
}

h1, h2, h3, h4, h5 { margin: 0; display: inline-block }

a, a:hover {
  text-decoration: none;
  color: inherit;
}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  transition: 0.5s opacity ease-in;
}

button, button:focus {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0
}

.dimmed {
  background-color: grey !important;
}
