.greetings {
  font-size: em(42);
  font-family: "Roboto-Light";
}

.font-white {
  color: $color-white;
}

.text-centered {
  text-align: center;
}

// fonts
.font__RC-light {
  font-family: 'RobotoCondensed-Light'
}

.font__RC-regular {
  font-family: 'RobotoCondensed-Regular'
}
